/*estilos.css*/
.form-login h2.form-login-heading {
	background :#000;
}

.btn-theme{
	background: #000;
	border-color :#000;
}
.btn-theme:hover, .btn-theme:focus, .btn-theme:active, .btn-theme.active, .open .dropdown-toggle.btn-theme:hover{
	background :#3D3D3D;
	border-color:#3D3D3D;
}